APP_ENV=development
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=2badca569f9ae4bf977498f732ebb
NEXT_PUBLIC_THIRDWEB_AUTH_DOMAIN=test.com
#do not share these
DATABASE_URL=mysql://root@127.0.0.1:3306/dev-next-third-webkit
THIRDWEB_SECRET_KEY=
#you can use any random private keys
THIRDWEB_AUTH_PRIVATE_KEY=
ENABLE_GUARDS=true
